<%- include("./partials/header") %>

<div class="container">
	<div class="about-content">
    	<h2>About Me</h2>
        <p>I'm a UC Berkeley Applied Mathematics graduate and a self-taught full-stack web developer. 
        </p> <br>

        <p>One of my favorite courses as an undergraduate was a programming class titled 'Computing Data with R' - R is a programming language designed for statistical computing and data analysis. It's in this course that I learned how to wrangle and clean data, as well as construct intuitive graphs with large datasets within R Studio. During the following summer, I would learn basic HTML, CSS and JavaScript. After graduating I continued my studies by diving deeper into tech by learning more modern web technologies. Today I am continuing to learn and enjoy the journey.</p> <br>

        <p>These days, when I'm not working on code I love to powerlift, play with my dog Julius, or train martial arts.</p>

	</div>
    
</div>

<%- include("./partials/footer") %>