<%- include("./partials/header") %>

<div class="container">
	<div class="about">
    	<h2>About Me</h2>
        <p>I'm a UC Berkeley Applied Mathematics graduate and a self-taught full-stack web developer. 
        </p> <br>

        <p>One of my favorite courses as an undergraduate was a programming class titled 'Computing Data with R' - R is a programming language designed for statistical computing and data analysis. It's in this course that I learned how to wrangle and clean data, as well as construct intuitive graphs with large datasets within R Studio. During the following summer, I would learn basic HTML, CSS and JavaScript. After graduating I continued my studies by diving deeper into tech by learning more modern web technologies. Today I am continuing to learn and enjoy the journey.</p> <br>

        <p>These days, when I'm not working on code I love to powerlift, play with my dog Julius, or train martial arts.</p>
    </div>

    <h2>Technical Skills</h2>
	<div>
	  <h4>Front End</h4>
	  <ul class="alt">
	    <li>JavaScript (ES6+)</li>
	    <li>React</li>
	    <li>Redux</li>
	    <li>SASS/SCSS/LESS</li>
	    <li>Bootstrap 3/4</li>
	    <li>Webpack</li>
	    <li>Babel</li>
	    <li>jQuery</li>
	    <li>CSS</li>
	    <li>HTML</li>
	  </ul>
	</div>

	<div>
	  <h4>Back End</h4>
	  <ul class="alt">
	    <li>Node.js</li>
	    <li>Express</li>
	    <li>MongoDB</li>
	    <li>MySQL</li>
	    <li>PostgreSQL</li>
	    <li>NginX</li>
	  </ul>
	</div>

	<div >
	  <h4>Development</h4>
	  <ul class="alt">
	    <li>Git and GitHub</li>
	    <li>Heroku</li>
	    <li>Postman</li>
	    <li>Team Foundation Server</li>
	    <li>Jest/Enzyme</li>
	    <li>AWS</li>
	    <li>Cloud9</li>
	    <li>Docker</li>
	    <li>Mocha/Chai???</li>
	  </ul>
	</div>

	<div class="col-4">
	  <h4>Work Flow</h4>
	  <ul class="alt">
	    <li>Slack</li>
	    <li>Trello</li>
	    <li>Agile</li>
	  </ul>
	</div>
    
</div>

<%- include("./partials/footer") %>