<%- include("./partials/header") %>

<div class="container">
<div class="centered">

	<div class="home-content">
		<h1>
	    <strong>Victor Daniel Vargas</strong>
	    <br>
	    <em><span class="job-title">Full-Stack Web Developer</span></em>
	    <br>
	    </h1>
    </div>

    <div class="links">
      <a href="https://www.linkedin.com/in/victor-daniel-vargas/" target="_blank"><i class="fab fa-linkedin-in"></i></a>

      <a href="https://github.com/vtothe2ndpower" target="_blank"><i class="fab fa-github"></i></a>

      <a href="mailto:vvargasnunez@gmail.com" target="_blank"><i class="fas fa-envelope-open-text"></i></a> 
  	</div>
</div>
</div>


<%- include("./partials/footer") %>