<%- include("./partials/header") %>

<div class="container">
	<h1>
    <strong>Victor Daniel Vargas</strong>
    <br>
    Full Stack Developer
    <br>
    </h1>

    <div>
    <ul>
      <li><a href="https://www.linkedin.com/in/victor-daniel-vargas/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

      <li><a href="https://github.com/vtothe2ndpower" target="_blank"><i class="fab fa-github"></i></a></li>

      <li><a href="mailto:vvargasnunez@gmail.com" target="_blank"><i class="fas fa-envelope-open-text"></i></a></li> 
    </ul>
  </div>

</div>


<%- include("./partials/footer") %>