<%- include("./partials/header") %>

<div class="container">
	<div class="projects-content">
	    <h2>Projects</h2>

	    <ul>
	    	<li>Real Life Superpowers - Social Media/CRUD Application</li>
	    	<p>Technologies Used: Express, Node, MongoDB, EJS <br>
	    	Description: 
	    	</p>

	    	<li>Pokemon Pokedex Dream Team Party Stats</li>
	    	<p>Technologies Used: React, D3, External API Integration <br>Description: </p>

	    	<li>Jackie's Bakery - E-Commerce Website</li>
	    	<p>Technologies Used: HTML, CSS, React <br>
	    	Description: </p>

	    	<li>Starbuck's/In-N-Out Google Maps API Project</li>
	    	<p>Technologies Used: External API Integration <br>
	    	Description: </p>

	    	<li>bestRoute - Progressive Web App</li>
	    	<p>Technologies Used: <br>
	    	Description: </p>
	    </ul>
	</div>
    
</div>


<%- include("./partials/footer") %>