<%- include("./partials/header") %>

<div class="container">
    <h1>Projects</h1>

    <h2>Here are some of the projects that I've worked on..</h2>

    <ul>
    	<li>Real Life Superpowers - Social Media/CRUD Application</li>
    	<p>Technologies Used: Express, Node, MongoDB, EJS</p>
    	<li>Pokemon Pokedex Dream Team Party Stats</li>
    	<p>Technologies Used: React, D3, Exteral API Integration</p>
    	<li>Jackie's Bakery - E-Commerce Website</li>
    	<p>Technologies Used: HTML, CSS, React </p>
    	<li>Starbuck's/In-N-Out Google Maps API Project</li>
    	<p>Technologies Used: External API Integration </p>
    	<li>bestRoute - Progressive Web App</li>
    	<p>Technologies Used: </p>
    </ul>
    
</div>


<%- include("./partials/footer") %>