<%- include("./partials/header") %>

<div class="container">
	<div class="skills-content">
	    <h2>Technical Skills</h2>
	    <table>
			<tr>
				<th>Front End</th>
				<th>Back End</th>
				<th>Development</th>
				<th>Work Flow</th>
			</tr>

			<tr>
				<td>JavaScript (ES6+)</td>
				<td>Node.js</td>
				<td>Git and GitHub</td>
				<td>Agile</td>
			</tr>
			<tr>
				<td>React (Hooks + Redux)</td>
				<td>Express</td>
				<td>Heroku</td>
				<td>Trello</td>
			</tr>

			<tr>
				<td>HTML, CSS, SASS</td>
				<td>MongoDB</td>
				<td>Postman</td>
				<td>Slack</td>
			</tr>

			<tr>
				<td>Bootstrap 3/4</td>
				<td>MySQL</td>
				<td>Docker</td>
				<td>Discord</td>
			</tr>

			<tr>
				<td>jQuery</td>
				<td>PostgreSQL</td>
				<td>NginX</td>
				<td>AWS (Cloud 9)</td>
			</tr>

			<tr>
				<td>Babel</td>
				<td>GraphQL</td>
				<td>Mocha/Chai</td>
				<td>Team Foundation Server</td>
			</tr>

			<tr>
				<td>Webpack</td>
				<td>PostgreSQL</td>
				<td>Jest/Enzyme</td>
				<td></td>
			</tr>
		</table>

	</div>
    
</div>

<%- include("./partials/footer") %>