body {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h2 {
	text-align: center;
}

.nav {
    background: #edf0f7;
}

.nav-link {
    color: black;
}

.home-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-top: 50px;
	text-align: center;
}

.home-content h1 {
	color: white;
}

.about-content {
	margin-top: 25px;
}

.about-content h2 {
	color: white;
}


.links {
	display: flex;
	width: auto;
	justify-content: center;
	align-items: center;
}
.links i {
	padding: 0 10px 0 10px;
	font-size: 1.5em;
}

.projects-content {
	margin-top: 25px;
}

.projects-content h2 {
	color: white;
}

table {
	display: flex;
	justify-content: center;
	align-items: center
}

table th, td {
	padding: 0 15px;
}

h1, h2, th, td, p, li {
	color: white;
}

.services-content {
	margin-top: 25px;
}

.services-content h2 {
	color: white;
}

ul {
	list-style-type: square;
}

i {
	color: white;
}

i:hover {
	color: #edf0f7;
}